<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
          <%= render "shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Ваши сообщения</h1>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<h4>Последнее сообщение</h4>
<p><%=  %></p>
<p><strong><%=  %></strong> <%=  %></p>

                  </div>
                </div>
<br>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<h4>Все сообщения</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Новых сообщений</th>
            <th>Всего сообщений</th>
          </tr>
        </thead>
        <tbody>
<% @discussions.each do |discussion| %>
          <tr>
            <td><%=  %></td>
            <td>
              <% if discussion.user == current_user %>
                <%= link_to User.find(discussion.whom).username, discussion_path %>
              <% else %>
                <%= discussion.user.username %>
              <% end %>

            </td>
            <td><%= discussion.messages.where(:read => false).count %></td>
            <td><%= discussion.amount %></td>
          </tr>
<% end %>
        </tbody>
      </table>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </section>