<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "/clients/leftmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Ваши сообщения</h1>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<h4>Последнее сообщение</h4>
<p><%= @lastmessage.text %></p>
<p><strong><%= @lastmessage.user.username %></strong> <%= @lastmessage.created_at %></p>

                  </div>
                </div>
<br>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<h4>Все сообщения</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Новых сообщений</th>
            <th>Всего сообщений</th>
          </tr>
        </thead>
        <tbody>
<%= render @messages %>
        </tbody>
      </table>
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </section>