<% provide(:title, @message.user.username) %>


<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li><%= link_to "Статьи", "/articles.html" %></li>
      <li class="active"><%= @message.user.username %></li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <h3>Comments: 4 <sup><span class="fa fa-comment-o"></span></sup></h3>
            <ul class="media-list">
              <li class="media blog-entry">
                <div class="pull-left">
                  <img class="media-object" src="/unnamed.jpg" alt="<%= @message.user.username %>">
                </div>
                <div class="media-body">
                  <div class="blog-entry-content">
                    <h4>Entry title</h4>
                    <div class="date"><%= Russian::strftime(@message.created_at, "%d %B %Y %H:%M") %></div>
                    <div class="content">
                      <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="media blog-entry">
                <div class="pull-left">
                  <img class="media-object" src="img/author.jpg" alt="...">
                </div>
                <div class="media-body">
                  <div class="blog-entry-content">
                    <h4>Entry title</h4>
                    <div class="date">2013.11.30 16:34</div>
                    <div class="content">
                      <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="media blog-entry">
                <div class="pull-left">
                  <img class="media-object" src="img/author.jpg" alt="...">
                </div>
                <div class="media-body">
                  <div class="blog-entry-content">
                    <h4>Entry title</h4>
                    <div class="date">2013.11.30 16:34</div>
                    <div class="content">
                      <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                    </div>
                    <div class="media blog-entry">
                      <div class="pull-left">
                        <img class="media-object" src="img/author.jpg" alt="...">
                      </div>
                      <div class="media-body">
                        <div class="blog-entry-content no-border">
                          <h4>Entry title</h4>
                          <div class="date">2013.11.30 16:34</div>
                          <div class="content">
                            <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="media blog-entry">
                      <div class="pull-left">
                        <img class="media-object" src="img/author.jpg" alt="...">
                      </div>
                      <div class="media-body">
                        <div class="blog-entry-content no-border">
                          <h4>Entry title</h4>
                          <div class="date">2013.11.30 16:34</div>
                          <div class="content">
                            <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="media blog-entry">
                <div class="pull-left">
                  <img class="media-object" src="img/author.jpg" alt="...">
                </div>
                <div class="media-body">
                  <div class="blog-entry-content">
                    <h4>Entry title</h4>
                    <div class="date">2013.11.30 16:34</div>
                    <div class="content">
                      <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                    </div>
                    <div class="media blog-entry">
                      <div class="pull-left">
                        <img class="media-object" src="img/author.jpg" alt="...">
                      </div>
                      <div class="media-body">
                        <div class="blog-entry-content no-border">
                          <h4>Entry title</h4>
                          <div class="date">2013.11.30 16:34</div>
                          <div class="content">
                            <p>Sed porta ac ipsum ut mollis. Integer id vestibulum dui, at dapibus orci. Nunc adipiscing, orci sit amet ultricies sagittis, arcu orci feugiat lorem, nec feugiat magna erat id lectus. </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
<%= render '/shared/rightcolumn' %>
        </div>
      </div>
    </section>