<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
          <%= render "shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Ваши сообщения</h1>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<% if @lastmessage %>

  <h4>Последнее сообщение</h4>
  <p><%= @lastmessage.text %></p>
  <p>от <strong><%= link_to @lastmessage.user.username, @lastmessage.user %></strong> <%= Russian::strftime(@lastmessage.created_at, "%d %B %Y %H:%M") %> <%= ".:: Новое сообщение" if @lastmessage.read == false %></p>
      <% else %>
<h4>Вам пока не написали ни одного сообщения.</h4>
<% end %>
                  </div>
                </div>

<br>

                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

        <% if !@discussions.empty? %>            
<h4>Все сообщения</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Новых сообщений</th>
            <th>Всего сообщений</th>
          </tr>
        </thead>
        <tbody>
<% @discussions.each do |discussion| %>
          <tr>
            <td><%=  %></td>
            <td>
              <% if discussion.user == current_user %>
                <%= link_to discussion.whom.username, discussion_path(discussion) %>
              <% else %>
                <%= link_to discussion.user.username, discussion_path(discussion) %>
              <% end %>

            </td>
            <td><%= discussion.messages.where("read == ? AND user_id != ?", false, current_user).count %></td>
            <td><%= discussion.amount %> </td>
          </tr>
<% end %>
        </tbody>
      </table>
            <% else %>
<h4>У Вас пока нет ни одного собеседника.</h4>
<% end %>

                  </div>
                </div>



              </div>


            </div>
          </div>
        </div>
      </div>
    </section>