<% provide(:title, 'Выполненные заказы') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Статистика</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "leftmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Вопросы пользователей</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <% @questions.each do |question| %>
                      <%= question.name %>
                      <%= question.text %>
                      <%= question.email %>
                      <%= question.created_at %>
                    <% end %>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>