<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => "120", :placeholder => "Название статьи" %>
  </div>
  <div class="form-group">
    <%= f.label :text %><br />
    <%= f.text_area :text, :size => "120*180", :placeholder => "Текст статьи", :class => 'wysihtml5' %>
  </div>
  <div class="form-group">
    <% if @article.image.blank? %>
      <%= image_tag("/noimage.png", height: '200', width: '150') %>
    <% else %>
      <%= link_to(image_tag(@article.image.thumb.url), @article) %>
    <% end %>
    <br><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Изменить", :class => "btn btn-primary" %>
  </div>
<% end %>
