<% provide(:title, @article.name) %>


<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li><%= link_to "Статьи", "/articles.html" %></li>
      <li class="active"><%= @article.name %></li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "/shared/whatmenu" if current_user %>
          <div class="col-md-9">
            <div class="blog-entry">
              <div class="blog-entry-content no-border">
                <h1><%= @article.name %></h1>
                <div class="date"><%= Russian::strftime(@article.created_at, "%d %B %Y") %>, <%= link_to "#{@article.user.username}<sup><span class='fa fa-comment-o'></span></sup>".html_safe, @article.user %></div>
                <div class="content">
                  <%= image_tag (@article.image.url) %>
                  <p><%= @article.text %></p><br><br>
                </div>
              </div>
            </div>
           </div>
<%= render '/shared/rightcolumn' if !current_user %>
        </div>
      </div>
    </section>