<% provide(:title, @user.username) %>


<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li><%= link_to "Пользователи", users_path %></a></li>
      <li class="active"><%= @user.username %></li>
                  <li class="navbar-right">
              <% if !Message.where("read == ? AND whom == ?", false, current_user).empty? %>
                <%= link_to "Новые сообщения (#{Message.where("read == ? AND whom == ?", false, current_user).count})", Message.where("read == ? AND whom == ?", false, current_user).first.discussion %>
              <% else %>
                <%= "У Вас нет новых сообщений" %>
              <% end %>

            </li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

 <section>
      <div class="container">
        <div class="row">
          <%= render "shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">

              <% if current_user != @user %>
                <h1>Сообщения</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">


  <div id="follow_form">
  <% if current_user.speaking?(@user) %>

  <%= render 'unfollow' %><br>

    <%= form_for @message, :url => {:controller => "discussions", :action => "newmessage"} do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :whom, :value => @user.id %>
<%= f.hidden_field :discussion_id, :value => current_user.discussions.find_by_whom_id(@user.id).id %>
<div class="form-group">
  <%= f.text_area :text, :size => "60x8", placeholder: "Текст вашего сообщения пользователю #{@user.username}" %>
</div>
<%= f.submit :value => "Отправить сообщение", :class => "btn btn-primary" %>
<% end %>

<% elsif @user.speaking?(current_user) %>

    <%= form_for @message, :url => {:controller => "discussions", :action => "newmessage"} do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
<%= f.hidden_field :whom, :value => @user.id %>
<%= f.hidden_field :discussion_id, :value => @user.discussions.find_by_whom_id(current_user.id).id %>
<div class="form-group">
  <%= f.text_area :text, :size => "130x8", placeholder: "Текст вашего сообщения пользователю #{@user.username}" %>
</div>
<%= f.submit :value => "Отправить сообщение", :class => "btn btn-primary" %>
<% end %>

  <% else %>
    <%= render 'follow' %>

  <% end %>
  </div>
<br>

  </div>
</div>
<% end %>
<br>

                <h1>Личный кабинет</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Аватар</th>
            <th>Имя</th>
            <th>Выполненные заказы</th>
            <th>Уровень</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

                  </div>
                </div>
                <br>
                <h1>Сатьи в ожидании</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Дата заказа</th>
            <th>Стоимость</th>
            <th>Автор</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

                  </div>
                </div>

                <br>
                <h1>Архив статей</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Дата заказа</th>
            <th>Стоимость</th>
            <th>Автор</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
        </tbody>
      </table>

                  </div>
                </div>


              </div>


            </div>
          </div>
        </div>
      </div>
    </section>