<% provide(:title, 'Регистрация для заказчиков контента') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="/index.html">Главная</a></li>
      <li class="active">Восстановление пароля</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

    <section>
      <div class="container">
      	  <%= devise_error_messages! %>
        <h1>Восстановление пароля</h1>
        <div class="row">
          <div class="col-sm-5 col-md-4">
            <div class="thumbnail info-thumbnail background-emerald">
              <div class="caption">
                <h3><span class="fa fa-user"></span> Забыли пароль?</h3>
                
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

	<div class="form-group">
  		<%= f.label "Email" %>
  		<%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Ваша электронная почта" %>
	</div>

  <%= f.submit "Отправить пароль на почту", :class => "btn btn-default" %>
<% end %>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

