<% provide(:title, 'Выполненные заказы') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Выполненные заказы</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "leftmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Выполненные заказы</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <% if @posts.count > 0 %>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Наименование</th>
                      <th>Дата заказа</th>
                      <th>Стоимость</th>
                      <th>Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @posts.each do |post| %>
                      <tr>
                        <% if post.order %>
                          <td><%= post.id %></td>
                          <td><%= link_to post.name, project_order_path(post.order.project, post.order) %></td>
                          <td><%= Russian::strftime(post.order.finish_date, "%d %B %Y") %></td>
                          <td><%= price_is(post.order.amount) %> руб.</td>
                          <td><%= post.order.complite? %></td>
                        <% else %>
                          <td><%= post.id %></td>
                          <td><%= link_to post.name, posts_path(post) %></td>
                          <td><%= Russian::strftime(post.created_at, "%d %B %Y") %></td>
                          <td><%= post.sale %> руб.</td>
                          <td><%= post.complite? %></td>
                        <% end %>                        
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <% else %>
                <strong>У Вас нет выполненных заказов.</strong>
                <% end %>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>