<% provide(:title, 'Все проекты') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Ваши проекты</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
          <%= render "leftmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Ваши проекты</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                  </div>
                </div>
                <br>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Категория</th>
            <th>Дата создания</th>
            <th>Стоимость</th>
            <th>Кол-во знаков</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
  <% @posts.each do |post| %>
          <tr>
            <td><%= post.id %></td>
            <td><%= link_to post.name, post_path(post) %></td>
            <td><%= post.category %></td>
            <td><%= Russian::strftime(post.created_at, "%d %B %Y") %></td>
            <td><%= price_is(post.sale) %> руб.</td>
            <td><%= post.text.gsub(/\s+/, '').length %></td>
            <td><%= post.complite? %></td>
          </tr>
  <% end %>
        </tbody>
      </table>

                  </div>
                </div>
              </div>


              <div class="col-md-12">
                <h1>Создать новую статью</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<%= form_for @newpost, :url => {:controller => "posts", :action => "createpost"} do |f| %>
              <div class="form-group">
                <%= f.text_field :name, :size => "120", :placeholder => "Название статьи" %>
              </div>
              <div class="form-group">
                <%= f.text_area :text, :size => "120x8", :placeholder => "Текст статьи" %>
              </div>
              <%= f.submit :value => "Сохранить", :class => "btn btn-primary" %>
    <% end %>
            </div>
          </div>
        </div>

            </div>
          </div>
        </div>
      </div>
    </section>