<% provide(:title, 'Заказы в ожидании') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Заказы в ожидании</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "/shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Заказы в ожидании</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Заказчик</th>
            <th>Наименование</th>
            <th>Категория</th>
            <th>Дата завершения</th>
            <th>Стоимость</th>
            <th>Кол-во знаков</th>
            <th>Действие</th>
          </tr>
        </thead>
        <tbody>
  <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= link_to order.project.user.username, order.project.user %></td>
            <td><%= link_to order.name, project_order_url(order.project, order) %></td>
            <td><%= order.category %></td>
            <td><%= Russian::strftime(order.finish_date, "%d %B %Y") %></td>
            <td><%= price_is(order.amount) %> руб.</td>
            <td><%= order.amount %></td>
            <td>
              <%= form_for @newpost, :url => {:controller => "projects", :action => "create_post"} do |f| %>
                <%= f.hidden_field :order_id, :value => order.id %>
                <%= f.submit "Выполнить заказ", class: "btn btn-large btn-primary" %>
              <% end %>
            </td>
          </tr>
  <% end %>
        </tbody>
      </table>

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>