<% provide(:title, 'Все проекты') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Ваши проекты</li>
            <li class="navbar-right">
              <% if !Message.where("read == ? AND whom == ?", false, current_user).empty? %>
                <%= link_to "Новые сообщения (#{Message.where("read == ? AND whom == ?", false, current_user).count})", Message.where("read == ? AND whom == ?", false, current_user).discussion %>
              <% else %>
                <%= "У Вас нет новых сообщений" %>
              <% end %>

            </li>
            <li class="navbar-right"><a href="/about.html">О бирже</a></li>
    </ol>


  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
          <%= render "shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Ваши проекты</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

                    <blockquote>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </blockquote>
                  </div>
                </div>
                <br>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Наименование</th>
            <th>Заказы</th>
            <th>Потрачено</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
  <% current_user.projects.each do |project| %>
          <tr>
            <td><%= project.id %></td>
            <td><%= link_to project.name, project_path(project) %></td>
            <td><%= "#{project.orders.count} / #{project.orders.where(:status => 3).count}" %></td>
            <td>Column content</td>
            <td><%= link_to "<i class=icon-trash></i>Удалить".html_safe, project, method: :delete, :class => "red", data: { confirm: "Вы уверены?" } %></td>
          </tr>
  <% end %>
        </tbody>
      </table>

                  </div>
                </div>
              </div>


              <div class="col-md-12">
                <h1>Создать новый проект</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
<%= form_for @project,  :class => "form-horizontal" do |f| %>

      <div class="form-group">
        <%= f.text_field :name, :class => "form-control", :placeholder => "Наименование Вашего проекта..." %>
      </div>
      <%= f.submit "Создать", :class => "btn btn-primary" %>

    <% end %>
            </div>
          </div>
        </div>

            </div>
          </div>
        </div>
      </div>
    </section>