<% provide(:title, 'Спиосок копирайтеров') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li class="active">Список копирайтеров</li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

  <section>
      <div class="container">
        <div class="row">
<%= render "/shared/whatmenu" %>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h1>Информация о Вашем счётех</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">
                    <p>На вашем счёте 
                    	<% if current_user.pocket.blank? %>
                    		0 руб.
                    	<% else %>
                    		<%= number_to_currency( current_user.pocket, unit: "руб.", separator: ",", delimiter: "", format: "%n %u") %></p>
                    	<% end %>
                  </div>
                </div>
<br><br>

                <h1>Положить деньги на счёт</h1>
                <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
                  <div class="caption background-white">

<% if params[:amount] %>
  <h3>Проверьте реквизиты платежа:</h3>
  <strong>Ваш аккаунт:</strong> <%= current_user.username %></p>
  <strong>Оператор платежа:</strong> Робокасса</p>
  <strong>Сумма платёжа:</strong> <%= params[:amount] %> руб.</p>

  <%= payment_service_for 1, "articlesale",
                          :amount => params[:amount],
                          :service => :robokassa,
                          :secret => "Odergies52" do |s| %>
    <%= submit_tag "Оплатить" %>
  <% end %>

<% else %>

  <form method="get">
    <input name="amount" type="text" value="100">
    <input type="submit">
  </form>

<% end %>

            </div>
          </div>
        </div>
      </div>
    </section>