<!-- Если заказ ожидает одобрения -->

<!-- Окончание. Если заказ ожидает одобрения -->


<!-- Если заказ кто-то взял и начал писать статью -->
<% if @post %>
<div class="col-md-12">
  <h1>Текст материала</h1>
  <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
    <div class="caption background-white">
      <table class="table table-bordered">
        <thead>
          <h4><%= @post.name %></h4>
          <tr>
            <th>Кол-во знаков</th>
            <th>Автор</th>
            <th>Стоимость</th>
            <th>Дата написания</th>
            <th>Оригинал</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @post.text.gsub(/\s+/, '').length if !@post.text.nil? %></td>
            <td><%= link_to @post.user.username, @post.user %></td>
            <td><%= price_is(@order.amount) %> руб.</td>
            <td><%= Russian::strftime(@post.updated_at, "%d %B %Y %H:%M") %></td>
            <td><%= @order.post.origin %>%</td>
          </tr>
        </tbody>
      </table>
      <p><%= @post.text %></p>
    </div>
  
  <% if @order.status == 3 %>
    <div class="caption background-white">
      <%= form_for @order, :url => {:controller => 'projects', :action => 'edit_status'} do |f| %>
        <div class="form-group">
          <%= f.select :status, [["Принять", 4], ["Отправить на корректировку", 1], ["В ожидании одобрения", 3]], :selected => "#{@order.status}" %>
        </div>
        <%= f.submit "Изменить", :class => "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
 </div>
  <!-- Отправить сообщение, если появилась статья -->
  <br>

  <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
    <div class="caption background-white">
  <h1>Отправить сообщение автору статьи</h1>

    <!-- Если заказчик уже общался с автором статьи -->
    <% if @user && current_user.speaking?(@user) %>
      <%= form_for @message, :url => {:controller => "discussions", :action => "newmessage"} do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :whom, :value => @user.id %>
        <%= f.hidden_field :discussion_id, :value => current_user.discussions.find_by_whom_id(@user.id).id %>
        <div class="form-group">
          <%= f.text_area :text, :size => "130x8", placeholder: "Текст вашего сообщения пользователю #{@post.user.username}" %>
        </div>
        <%= f.submit :value => "Отправить сообщение", :class => "btn btn-primary" %>
      <% end %>
    <!-- Если автор статьи уже общался с заказчиком -->
    <% elsif @user && @user.speaking?(current_user) %>
        <%= form_for @message, :url => {:controller => "discussions", :action => "newmessage"} do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :whom, :value => @user.id %>
          <%= f.hidden_field :discussion_id, :value => @user.discussions.find_by_whom_id(current_user.id).id %>
          <div class="form-group">
            <%= f.text_area :text, :size => "130x8", placeholder: "Текст вашего сообщения пользователю #{@post.user.username}" %>
          </div>
          <%= f.submit :value => "Отправить сообщение", :class => "btn btn-primary" %>
        <% end %>
    <!-- Если автор статьи ещё не общался с заказчиком -->
    <% elsif @user %>
        <%= render 'users/follow' %>
    <% end %>
    <!-- Окончание. Отправка сообщения -->
    </div>
  </div>
<% end %>
<!-- Окончание. Если заказ кто-то взял и начал писать статью -->
</div>
