<% provide(:title, 'Все проекты ') %>

<!-- Breadcrumbs - START -->
<div class="background-clouds breadcrumbs-container">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to "Ваши проекты", projects_path %></li>
      <li><%= link_to @order.project.name, @order.project %></li>
      <li class="active"><%= @order.name %></li>
    </ol>
  </div>
</div>
<!-- Breadcrumbs - END -->

<section>
  <div class="container">
    <div class="row">
      <%= render "shared/whatmenu" %>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <h1>Заказ <%= ".::Выполнен" if @post && @post.finish == true && @order.status == 4 %> </h1>
            <div class="thumbnail info-thumbnail padding1 background-clouds color-black">
              <div class="caption background-white">
                <table class="table table-bordered">
                  <thead>
                    <h4><%= @order.name %></h4>
                    <tr>
                      <th>Кол-во знаков</th>
                      <th>Ключевые слова</th>
                      <th>Кол-во картинок</th>
                      <th>Статус</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= @order.amount %></td>
                      <td><%= @order.keywords %></td>
                      <td><%= @order.pictures %></td>
                      <td><%= @order.complite? %></td>
                    </tr>
                    <tr>
                      <td COLSPAN="4"><%= @order.description %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      <!-- Если пользователь - клиент -->
      <% if current_user.role == "client" %>
        <%= render "projects/order/client" %>
      <% end %>
      <!-- Окончание. Если пользователь - клиент -->

      <!-- Если пользователь - клиент -->
      <% if current_user.role == "copy" %>
        <%= render "projects/order/copy" %>
      <% end %>
      <!-- Окончание. Если пользователь - клиент -->



      </div>
    </div>
  </div>
</section>